# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/node_modules

# misc
.DS_Store
.env*
request.http

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

/src/public/googletap.html

*.drawio.png
*.drawio
demo.md

*.log
