# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 32-ish character long string
SECRET ='YOUR_SECRET'

# Mongo DB
# For Local development
MONGODB_URI='mongodb://localhost/DB_NAME'

# Port
PORT=3000

# Debug
LOG_LEVEL='debug'

#Mail
# MAIL_HOST=HOST_OF_MAIL
MAIL_ADDRESS=EMAIL_ADDRESS
MAIL_SECRET=PASSWORD

# Google Auth
CLIENT_ID=CLIENT_ID_FROM_GOOGLE_CONSOLE
CLIENT_SECRET=CLIENT_SECRET_FROM_GOOGLE_CONSOLE

# Host URL
HOST_URL=YOUR_APPLICATION_BASE_URL
